.AppleDouble
scripts/linux/packaged/
scripts/win32/packaged/
scripts/mac/packaged/
scripts/mac/packaged32/
scripts/linux/packaged32/
scripts/win32/packaged64/
scripts/win32/build/
scripts/win32/build64/
scripts/linux/build/
scripts/mac/build32
scripts/linux/build32
